<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <button class="navbar-toggler" *ngIf="result" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/" style="font-family: garamond;font-size: 25px;"><img src="https://i.ibb.co/k5Y14fT/Screenshot-16.png" style="height: 70px; width:100px"/></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/" *ngIf="result" style="font-family: garamond;font-size: 20px;background-color: white" >Back To Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="bg" *ngIf="!result">
<div class="search" style="margin: 0;width:80%;top: 50%;left:50%;position: absolute;-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);" > 
  <!-- <h3 style="text-align: center;position: relative">Find the best restaurants, cafés, and bars....</h3>    -->
  <button class="btn btn-primary" name="search" (click)="getNews()" style="float: right ; height: 38px; border-radius: 8px; margin: 0px;"><i class="fas fa-search"></i></button>
      <div style="overflow: hidden; padding-right: .5em;">
        <input class="search_bar" type="text" placeholder="Search For Movies, Tv Shows And People.. " name="term" [(ngModel)]="value" style="width: 100%; height: 40px; border-radius: 8px; padding: 8px;outline: none;" />
       </div>
</div>
</div>

<div class="main" *ngIf="result">
    <ul class="cards" style="padding-top: 100px;">
        <li class="cards_item" *ngFor="let article of articles">
          <div class="card">
            <div class="card_image"><img (click)="getData(article.id,article.media_type)" data-toggle="modal" data-target="#centralModalSm" src="{{article.poster_path}}{{article.profile_path}}"></div>
          </div>
        </li>
      </ul>

<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-fluid .modal-dialog-scrollable modal-dialog" role="document">
    <div class="modal-content" style="background-color:transparent">      
      <section id="banner" class="clearfix" *ngIf="media; else persons" style='background:url("https://cdn.hipwallpaper.com/i/58/18/w3k0bz.jpg");background-repeat: round;'>
        <div id="banner_content_wrapper">
          <div id="poster">
            <img src="{{modals.poster_path}}" class="featured_image">
            <!-- <img src="https://res.cloudinary.com/dw369yzsh/image/upload/v1470916845/play_button_ngnw1z.png" alt="Play Trailer" class="play_button"> -->
          </div>
          <div id="content">
            <h2 class="title">{{modals.original_name}}{{modals.original_title}}</h2>        
            <p class="description">{{modals.overview}}</p>
            <p class="info">{{modals.runtime}}{{modals.episode_run_time}} min <span>|</span> {{modals.genres[0].name}} <span>|</span> {{modals.vote_average}} <span>|</span> {{modals.release_date}}{{modals.first_air_date}}</p>
          </div>
        </div>
      </section>
        <ng-template #persons>
        <section id="banner" class="clearfix" style='background:url("https://cdn.hipwallpaper.com/i/58/18/w3k0bz.jpg");background-repeat: round;'>
            <div id="banner_content_wrapper">
              <div id="poster">
                <img src="{{modals.poster_path}}" class="featured_image">
                
              </div>
              <div id="content">
                <h2 class="title">{{modals.name}}</h2>        
                <p class="description">{{modals.overview}}</p>
        
                <p class="info">{{modals.birthday}}<span>|</span> {{modals.known_for_department}} <span>|</span> {{modals.gender}}</p>
              </div>
            </div>
          </section>
        </ng-template>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          </div>
    </div>
  </div>
</div>
</div>


